@import "tailwindcss";

@theme {
  --color-alpha-01: rgba(9, 11, 18, 0.01);
  --color-alpha-02: rgba(9, 11, 18, 0.02);
  --color-alpha-03: rgba(9, 11, 18, 0.03);
  --color-alpha-04: rgba(9, 11, 18, 0.04);
  --color-alpha-05: rgba(9, 11, 18, 0.05);
  --color-alpha-06: rgba(9, 11, 18, 0.06);
  --color-alpha-07: rgba(9, 11, 18, 0.07);
  --color-alpha-08: rgba(9, 11, 18, 0.08);
  --color-alpha-09: rgba(9, 11, 18, 0.09);
  --color-alpha-10: rgba(9, 11, 18, 0.1);
  --color-alpha-11: rgba(9, 11, 18, 0.11);
  --color-alpha-12: rgba(9, 11, 18, 0.12);
  --color-alpha-13: rgba(9, 11, 18, 0.13);
  --color-alpha-14: rgba(9, 11, 18, 0.14);
  --color-alpha-15: rgba(9, 11, 18, 0.15);
  --color-alpha-16: rgba(9, 11, 18, 0.16);

  /* shadow */
  --shadow-embossed: 0 0 0.0625rem var(--color-alpha-04), 0 0.125rem 0.25rem var(--color-alpha-08);
  --shadow-raised: 0 0 0.125rem var(--color-alpha-06), 0 0.1875rem 0.375rem var(--color-alpha-11);
  --shadow-floated:
    0 0 0.125rem var(--color-alpha-06), 0 0.125rem 0.25rem var(--color-alpha-06),
    0 0.25rem 0.5rem var(--color-alpha-13);
  --shadow-overlay:
    0 0 0.25rem var(--color-alpha-08), 0 0.1875rem 0.5rem var(--color-alpha-12),
    0 0.5rem 1rem var(--color-alpha-16);

  /* motion */
  --motion-bounce: cubic-bezier(0.53, 1.7, 0.5, 0.82);
  --motion-fluent: cubic-bezier(0.75, 0.11, 0.31, 1);

  /* duration */
  --duration-faster: 100ms;
  --duration-fast: 150ms;
  --duration-normal: 200ms;
  --duration-slow: 300ms;
  --duration-slower: 400ms;
}

@utility duration-* {
  transition-duration: --value(--duration-*);
}
