@import 'tailwindcss';
@import './interaction.css';
@import './animation.css';

@layer base {
  html {
    font-family: 'Pretendard Variable';

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
}


@theme {
  --shadow-focus-visible: 0 0 0 4px rgba(173, 198, 255, 1);
}

@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .list-disc-ject li::before {
    content: '•';
    margin-left: 8px;
    margin-right: 8px;
  }

  .list-decimal li {
    margin-left: 5px;
  }
}
