@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Pretendard Variable';
  }
}

@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }
}
