@import 'tailwindcss';
@import './interaction.css';

@layer base {
  html {
    font-family: 'Pretendard Variable';
  }
}

@theme {
  --shadow-focus-visible: 0 0 0 4px rgba(173, 198, 255, 1);

  /*animation*/
  --animate-toast-fade-in: toast-fade-in var(--duration-slow) var(--motion-bounce) forwards;
  --animate-toast-fade-out: toast-fade-out var(--duration-normal) var(--motion-bounce) forwards;

  @keyframes toast-fade-in {
    0% {
      bottom: 0;
      opacity: 0;
    }
    100% {
      bottom: 3rem;
      opacity: 1;
    }
  }

  @keyframes toast-fade-out {
    0% {
      bottom: 3rem;
      opacity: 1;
    }
    100% {
      bottom: 0;
      opacity: 0;
    }
  }
}

@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .list-disc-ject li::before {
    content: '•';
    margin-left: 8px;
    margin-right: 8px;
  }

  .list-decimal li {
    margin-left: 5px;
  }
}
