@import './tokens/semantic.css';

@layer utilities {
  .transition-faster-fluent-hover:hover::after {
    transition-duration: var(--duration-faster);
    transition-timing-function: var(--motion-fluent);
  }

  .transition-faster-fluent-focus:focus-visible::after {
    transition-duration: var(--duration-faster);
    transition-timing-function: var(--motion-fluent);
  }

  .transition-normal-fluent-hover:hover::after {
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--motion-fluent);
  }

  .transition-normal-fluent-focus:focus-visible::after {
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--motion-fluent);
  }

  /* inversed false*/
  .interaction-default-bold {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(255,255,255,0.12)] active:after:bg-[rgba(255,255,255,0.12)];
  }

  .interaction-default-normal {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(212,211,222,0.08)] active:after:bg-[rgba(212,211,222,0.08)];
  }

  .interaction-default-subtle {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(247,245,255,0.033)] active:after:bg-[rgba(247,245,255,0.033)];
  }

  .interaction-brand-bold {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(145,147,255,0.12)] active:after:bg-[rgba(145,147,255,0.12)];
  }

  .interaction-brand-normal {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(113,115,255,0.08)] active:after:bg-[rgba(113,115,255,0.08)];
  }

  .interaction-brand-subtle {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(87,88,227,0.05)] active:after:bg-[rgba(87,88,227,0.05)];
  }

  /* inversed true */
  .interaction-default-bold-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(26,27,35,0.12)] active:after:bg-[rgba(26,27,35,0.12)];
  }

  .interaction-default-normal-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(58,59,67,0.08)] active:after:bg-[rgba(58,59,67,0.08)];
  }

  .interaction-default-subtle-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(2,3,18,0.032)] active:after:bg-[rgba(2,3,18,0.032)];
  }

  .interaction-brand-bold-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(48,45,190,0.12)] active:after:bg-[rgba(48,45,190,0.12)];
  }

  .interaction-brand-normal-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(74,74,214,0.08)] active:after:bg-[rgba(74,74,214,0.08)];
  }

  .interaction-brand-subtle-inverse {
    @apply focus-visible:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(100,101,241,0.05)] active:after:bg-[rgba(100,101,241,0.05)];
  }

  /* scale inversed false*/
  .interaction-default-bold-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(255,255,255,0.12)] active:after:bg-[rgba(255,255,255,0.12)];
  }

  .interaction-default-normal-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(212,211,222,0.08)] active:after:bg-[rgba(212,211,222,0.08)];
  }

  .interaction-default-subtle-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(247,245,255,0.033)] active:after:bg-[rgba(247,245,255,0.033)];
  }

  .interaction-brand-bold-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(145,147,255,0.12)] active:after:bg-[rgba(145,147,255,0.12)];
  }

  .interaction-brand-normal-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(113,115,255,0.08)] active:after:bg-[rgba(113,115,255,0.08)];
  }

  .interaction-brand-subtle-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(87,88,227,0.05)] active:after:bg-[rgba(87,88,227,0.05)];
  }

  /* scale inversed true */
  .interaction-default-bold-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(26,27,35,0.12)] active:after:bg-[rgba(26,27,35,0.12)];
  }

  .interaction-default-normal-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(58,59,67,0.08)] active:after:bg-[rgba(58,59,67,0.08)];
  }

  .interaction-default-subtle-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(2,3,18,0.032)] active:after:bg-[rgba(2,3,18,0.032)];
  }

  .interaction-brand-bold-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(48,45,190,0.12)] active:after:bg-[rgba(48,45,190,0.12)];
  }

  .interaction-brand-normal-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(74,74,214,0.08)] active:after:bg-[rgba(74,74,214,0.08)];
  }

  .interaction-brand-subtle-inverse-scale {
    @apply focus-visible:after:shadow-focus-visible relative outline-none after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] hover:after:bg-[rgba(100,101,241,0.05)] active:after:bg-[rgba(100,101,241,0.05)];
  }
}
