
@import 'tailwindcss';
      
@theme {
  --color-accent-trans-hero-light: rgba(100, 101, 241, 0.28);
  --color-accent-trans-hero-dark: rgba(177, 178, 255, 0.28);
  --color-accent-trans-normal-light: rgba(129, 131, 255, 0.16);
  --color-accent-trans-normal-dark: rgba(145, 147, 255, 0.16);
  --color-object-neutral-light: rgba(2, 3, 18, 0.64);
  --color-object-neutral-dark: rgba(246, 244, 255, 0.66);
  --color-object-alternative-light: rgba(2, 2, 23, 0.49);
  --color-object-alternative-dark: rgba(239, 238, 250, 0.49);
  --color-object-assistive-light: rgba(8, 5, 35, 0.34);
  --color-object-assistive-dark: rgba(240, 241, 253, 0.31);
  --color-object-disabled-light: rgba(15, 10, 70, 0.18);
  --color-object-disabled-dark: rgba(240, 241, 248, 0.15);
  --color-object-inverse-neutral-light: rgba(246, 244, 255, 0.66);
  --color-object-inverse-neutral-dark: rgba(2, 3, 18, 0.64);
  --color-object-inverse-alternative-light: rgba(239, 238, 250, 0.49);
  --color-object-inverse-alternative-dark: rgba(2, 2, 23, 0.49);
  --color-object-inverse-assistive-light: rgba(240, 241, 253, 0.31);
  --color-object-inverse-assistive-dark: rgba(8, 5, 35, 0.34);
  --color-object-inverse-disabled-light: rgba(240, 241, 248, 0.15);
  --color-object-inverse-disabled-dark: rgba(15, 10, 70, 0.18);
  --color-surface-dimmed-light: rgba(9, 11, 18, 0.43);
  --color-surface-dimmed-dark: rgba(9, 11, 18, 0.43);
  --color-surface-tinted-light: rgba(9, 11, 18, 0.22);
  --color-surface-tinted-dark: rgba(9, 11, 18, 0.22);
  --color-surface-overlay-light: rgba(247, 245, 255, 0.63);
  --color-surface-overlay-dark: rgba(247, 245, 255, 0.63);
  --color-feedback-trans-positive-light: rgba(0, 138, 60, 0.16);
  --color-feedback-trans-positive-dark: rgba(0, 167, 75, 0.16);
  --color-feedback-trans-negative-light: rgba(221, 55, 55, 0.16);
  --color-feedback-trans-negative-dark: rgba(255, 84, 80, 0.16);
  --color-feedback-trans-information-light: rgba(36, 115, 230, 0.16);
  --color-feedback-trans-information-dark: rgba(76, 142, 255, 0.16);
  --color-feedback-trans-notification-light: rgba(236, 105, 10, 0.16);
  --color-feedback-trans-notification-dark: rgba(255, 141, 76, 0.16);
  --color-accent-hero-light: #302dbe;
  --color-accent-hero-dark: #9193ff;
  --color-accent-normal-light: #4a4ad6;
  --color-accent-normal-dark: #7173ff;
  --color-object-hero-light: #1a1b23;
  --color-object-hero-dark: #ffffff;
  --color-object-normal-light: #3a3b43;
  --color-object-normal-dark: #d4d3de;
  --color-object-inverse-hero-light: #ffffff;
  --color-object-inverse-hero-dark: #1a1b23;
  --color-object-inverse-normal-light: #d4d3de;
  --color-object-inverse-normal-dark: #3a3b43;
  --color-surface-standard-light: #ffffff;
  --color-surface-standard-dark: #1a1b23;
  --color-surface-deep-light: #f7f5ff;
  --color-surface-deep-dark: #202129;
  --color-surface-deeper-light: #f1effa;
  --color-surface-deeper-dark: #24252d;
  --color-surface-deepest-light: #e3e1ec;
  --color-surface-deepest-dark: #2f3038;
  --color-interactive-hero-light: #2f3038;
  --color-interactive-hero-dark: #e3e1ec;
  --color-interactive-normal-light: #5d5e67;
  --color-interactive-normal-dark: #abaab4;
  --color-interactive-disabled-light: #d4d3de;
  --color-interactive-disabled-dark: #3a3b43;
  --color-interactive-focus-light: #97b8ff;
  --color-interactive-focus-dark: #adc6ff;
  --color-border-neutral-light: #abaab4;
  --color-border-neutral-dark: #5d5e67;
  --color-border-alternative-light: #c6c5d0;
  --color-border-alternative-dark: #46464f;
  --color-border-assistive-light: #e3e1ec;
  --color-border-assistive-dark: #2f3038;
  --color-fill-hero-light: #1a1b23;
  --color-fill-hero-dark: #ffffff;
  --color-fill-normal-light: #46464f;
  --color-fill-normal-dark: #c6c5d0;
  --color-fill-neutral-light: rgba(0, 0, 19, 0.54);
  --color-fill-neutral-dark: rgba(239, 238, 250, 0.55);
  --color-fill-alternative-light: rgba(8, 5, 35, 0.34);
  --color-fill-alternative-dark: rgba(240, 241, 253, 0.31);
  --color-fill-assistive-light: rgba(15, 10, 70, 0.18);
  --color-fill-assistive-dark: rgba(240, 241, 248, 0.15);
  --color-feedback-positive-light: #008a3c;
  --color-feedback-positive-dark: #00a74b;
  --color-feedback-negative-light: #dd3737;
  --color-feedback-negative-dark: #ff5450;
  --color-feedback-information-light: #2473e6;
  --color-feedback-information-dark: #4c8eff;
  --color-feedback-notification-light: #ec690a;
  --color-feedback-notification-dark: #ff8d4c;
  --color-system-white-light: #ffffff;
  --color-system-white-dark: #ffffff;
  --color-system-black-light: #000000;
  --color-system-black-dark: #000000;
  --color-role-fe-normal-light: #5d9200;
  --color-role-fe-normal-dark: #85cc10;
  --color-role-be-normal-light: #008cc8;
  --color-role-be-normal-dark: #62c2ff;
  --color-object-static-hero-light: #1a1b23;
  --color-object-static-hero-dark: #1a1b23;
  --color-object-static-normal-light: #3a3b43;
  --color-object-static-normal-dark: #3a3b43;
  --color-object-static-neutral-light: rgba(2, 3, 18, 0.64);
  --color-object-static-neutral-dark: rgba(2, 3, 18, 0.64);
  --color-object-static-alternative-light: rgba(2, 2, 23, 0.49);
  --color-object-static-alternative-dark: rgba(2, 2, 23, 0.49);
  --color-object-static-assistive-light: rgba(8, 5, 35, 0.34);
  --color-object-static-assistive-dark: rgba(8, 5, 35, 0.34);
  --color-object-static-disabled-light: rgba(15, 10, 70, 0.18);
  --color-object-static-disabled-dark: rgba(15, 10, 70, 0.18);
  --color-object-static-inverse-hero-light: #ffffff;
  --color-object-static-inverse-hero-dark: #ffffff;
  --color-object-static-inverse-normal-light: #d4d3de;
  --color-object-static-inverse-normal-dark: #d4d3de;
  --color-object-static-inverse-neutral-light: rgba(246, 244, 255, 0.66);
  --color-object-static-inverse-neutral-dark: rgba(246, 244, 255, 0.66);
  --color-object-static-inverse-alternative-light: rgba(239, 238, 250, 0.49);
  --color-object-static-inverse-alternative-dark: rgba(239, 238, 250, 0.49);
  --color-object-static-inverse-assistive-light: rgba(240, 241, 253, 0.31);
  --color-object-static-inverse-assistive-dark: rgba(240, 241, 253, 0.31);
  --color-object-static-inverse-disabled-light: rgba(240, 241, 248, 0.15);
  --color-object-static-inverse-disabled-dark: rgba(240, 241, 248, 0.15);
  --color-interactive-inverse-hero-light: #e3e1ec;
  --color-interactive-inverse-hero-dark: #2f3038;
  --color-interactive-inverse-normal-light: #abaab4;
  --color-interactive-inverse-normal-dark: #5d5e67;
  --color-interactive-inverse-disabled-light: #3a3b43;
  --color-interactive-inverse-disabled-dark: #d4d3de;
  --color-interactive-inverse-focus-light: #adc6ff;
  --color-interactive-inverse-focus-dark: #97b8ff;
  --color-border-normal-light: #83838d;
  --color-border-normal-dark: #83838d;
  --color-border-hero-light: #5d5e67;
  --color-border-hero-dark: #abaab4;
  --color-fill-inverse-hero-light: #ffffff;
  --color-fill-inverse-hero-dark: #1a1b23;
  --color-fill-inverse-normal-light: #c6c5d0;
  --color-fill-inverse-normal-dark: #46464f;
  --color-fill-inverse-neutral-light: rgba(239, 238, 250, 0.55);
  --color-fill-inverse-neutral-dark: rgba(0, 0, 19, 0.54);
  --color-fill-inverse-alternative-light: rgba(240, 241, 253, 0.31);
  --color-fill-inverse-alternative-dark: rgba(8, 5, 35, 0.34);
  --color-fill-inverse-assistive-light: rgba(240, 241, 248, 0.15);
  --color-fill-inverse-assistive-dark: rgba(15, 10, 70, 0.18);
  --color-accent-neutral-light: #6465f1;
  --color-accent-neutral-dark: #5758e3;
  --color-accent-trans-neutral-light: rgba(161, 162, 255, 0.08);
  --color-accent-trans-neutral-dark: rgba(113, 115, 255, 0.08);
  --color-fill-disabled-light: rgba(21, 5, 96, 0.12);
  --color-fill-disabled-dark: rgba(234, 236, 244, 0.1);
  --color-fill-inverse-disabled-light: rgba(234, 236, 244, 0.1);
  --color-fill-inverse-disabled-dark: rgba(21, 5, 96, 0.12);
  --color-border-trans-hero-light: rgba(2, 3, 18, 0.64);
  --color-border-trans-hero-dark: rgba(246, 244, 255, 0.66);
  --color-border-trans-normal-light: rgba(2, 2, 23, 0.49);
  --color-border-trans-normal-dark: rgba(239, 238, 250, 0.49);
  --color-border-trans-neutral-light: rgba(8, 5, 35, 0.34);
  --color-border-trans-neutral-dark: rgba(240, 241, 253, 0.31);
  --color-border-trans-alternative-light: rgba(7, 3, 53, 0.23);
  --color-border-trans-alternative-dark: rgba(247, 244, 255, 0.2);
  --color-border-trans-assistive-light: rgba(21, 5, 96, 0.12);
  --color-border-trans-assistive-dark: rgba(234, 236, 244, 0.1);
  --color-surface-embossed-light: #ffffff;
  --color-surface-embossed-dark: #202129;
  --color-role-fe-hero-light: #4b7600;
  --color-role-fe-hero-dark: #a0e936;
  --color-role-fe-neutral-light: #70af00;
  --color-role-fe-neutral-dark: #70af00;
  --color-role-fe-trans-hero-light: rgba(75, 118, 0, 0.22);
  --color-role-fe-trans-hero-dark: rgba(160, 233, 54, 0.16);
  --color-role-fe-trans-normal-light: rgba(93, 146, 0, 0.22);
  --color-role-fe-trans-normal-dark: rgba(133, 204, 16, 0.16);
  --color-role-fe-trans-neutral-light: rgba(112, 175, 0, 0.22);
  --color-role-fe-trans-neutral-dark: rgba(112, 175, 0, 0.16);
  --color-role-be-neutral-light: #19a7ec;
  --color-role-be-neutral-dark: #19a7ec;
  --color-role-be-hero-light: #0071a3;
  --color-role-be-hero-dark: #abdaff;
  --color-role-be-trans-hero-light: rgba(0, 113, 163, 0.22);
  --color-role-be-trans-hero-dark: rgba(171, 218, 255, 0.16);
  --color-role-be-trans-normal-light: rgba(0, 140, 200, 0.22);
  --color-role-be-trans-normal-dark: rgba(98, 194, 255, 0.16);
  --color-role-be-trans-neutral-light: rgba(25, 167, 236, 0.22);
  --color-role-be-trans-neutral-dark: rgba(25, 167, 236, 0.16);
  --color-role-do-normal-light: #009486;
  --color-role-do-normal-dark: #3bcdbb;
  --color-role-do-neutral-light: #00b1a0;
  --color-role-do-neutral-dark: #00b1a0;
  --color-role-do-hero-light: #00786c;
  --color-role-do-hero-dark: #5fead7;
  --color-role-do-trans-hero-light: rgba(0, 120, 108, 0.22);
  --color-role-do-trans-hero-dark: rgba(95, 234, 215, 0.16);
  --color-role-do-trans-normal-light: rgba(0, 148, 134, 0.22);
  --color-role-do-trans-normal-dark: rgba(59, 205, 187, 0.16);
  --color-role-do-trans-neutral-light: rgba(0, 177, 160, 0.22);
  --color-role-do-trans-neutral-dark: rgba(0, 177, 160, 0.16);
  --color-role-pm-hero-light: #b14c00;
  --color-role-pm-hero-dark: #ffc9ae;
  --color-role-pm-normal-light: #d95f00;
  --color-role-pm-normal-dark: #ffa271;
  --color-role-pm-neutral-light: #fe761c;
  --color-role-pm-neutral-dark: #fe761c;
  --color-role-pm-trans-hero-light: rgba(177, 76, 0, 0.22);
  --color-role-pm-trans-hero-dark: rgba(255, 201, 174, 0.16);
  --color-role-pm-trans-normal-light: rgba(217, 95, 0, 0.22);
  --color-role-pm-trans-normal-dark: rgba(255, 162, 113, 0.16);
  --color-role-pm-trans-neutral-light: rgba(254, 118, 28, 0.22);
  --color-role-pm-trans-neutral-dark: rgba(254, 118, 28, 0.16);
  --color-role-pd-hero-light: #923be0;
  --color-role-pd-hero-dark: #e7c9ff;
  --color-role-pd-normal-light: #ad59fb;
  --color-role-pd-normal-dark: #d4a5ff;
  --color-role-pd-neutral-light: #c180ff;
  --color-role-pd-neutral-dark: #c180ff;
  --color-role-pd-trans-hero-light: rgba(146, 59, 224, 0.22);
  --color-role-pd-trans-hero-dark: rgba(231, 201, 255, 0.16);
  --color-role-pd-trans-normal-light: rgba(173, 89, 251, 0.22);
  --color-role-pd-trans-normal-dark: rgba(212, 165, 255, 0.16);
  --color-role-pd-trans-neutral-light: rgba(193, 128, 255, 0.22);
  --color-role-pd-trans-neutral-dark: rgba(193, 128, 255, 0.16);
  --color-accent-inverse-hero-light: #9193ff;
  --color-accent-inverse-hero-dark: #302dbe;
  --color-accent-inverse-normal-light: #7173ff;
  --color-accent-inverse-normal-dark: #4a4ad6;
  --color-accent-inverse-neutral-light: #5758e3;
  --color-accent-inverse-neutral-dark: #6465f1;
}