@font-face {
  font-family: "Pretendard Variable";
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "D2Coding";
  src: url("../fonts/D2Coding.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
